body {
  background-image: linear-gradient(
    -60deg,
    #004b55 0%,
    #02b694 50%,
    #b2b42f 100%
  );
  background-size: contain;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  scroll-behavior: smooth;
}

.main_page {
  position: absolute;
  margin-top: 20em;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@keyframes showTopText {
  0% {
    transform: translate3d();
  }
  40%,
  60% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  color: #ffcc60;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title > div.text-top div span:first-child {
  color: #ffcc60;
}

.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}


.nav-item {
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  text-align: center;
  border-radius: 0.6em;
}

.nav-link:hover {
  color: white;
}

#navbarNavDropdown {
  float: right;
}

.nav-item:hover {
  text-shadow: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}

.navbar-nav {
  float: right;
  font-family: ocr-a-std, monospace;
  font-style: normal;
}

#ffa0e257-4b46-4632-a8d6-93195cbf254d {
  margin-top: -43em;
  height: 25em;
  width: auto;
  margin-left: 2em;
  margin-right: 3em;
  float: right;
}

#title_text {
  margin-top: -40em !important;
}

.title__1__no {
  text-shadow: 4px 6px 10px #f5f5f5 !important;
  color: #ffcc60;
}

.title__1 {
  color: grey;
  text-shadow: 3px 3px 5px #1c1c1c;
  outline-style: inherit;
  font-size: 3.65em;
  font-weight: 650;
  position: absolute;
  margin-left: 2em;
  margin-right: 1em;
  margin-top: -10.5em;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  font-stretch: narrower;
  text-align: left;
}

.title__2 {
  color: #ffcc60;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  outline-style: inherit;
  font-size: 3.65em;
  font-weight: 650;
  position: absolute;
  margin-left: 1.3em;
  margin-top: -8em;
}

.home-title {
  color: white;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  outline-style: inherit;
  font-size: 3.65em;
  font-weight: 650;
  position: absolute;
  margin-left: 2em;
  margin-top: -6.3em;
}

h1 {
  font-size: 3em;
  font-weight: normal;
}

/* title styles */

.home-title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.home-title span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-60deg, #004b55 0%, #02b694 50%, #b2b42f 100%);

  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards infinite;
  transform: translateX(-101%);
}

.home-title span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after {
  animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after {
  animation-delay: 1.5s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  height: 200vh;
  font-family: ocr-a-std, monospace;
  font-style: normal;
}

.particles-js {
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
}

@media (max-width: 1480px) {
  #ffa0e257-4b46-4632-a8d6-93195cbf254d {
    display: flex;

    height: 25vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    float: right;

    height: auto;
    width: auto;
  }
  .title_main {
    color: grey;
    text-shadow: 3px 3px 5px #1c1c1c;
    outline-style: inherit;
    font-size: 8vh;

    margin-left: 2em;
    margin-top: -40em;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    position: absolute;
  }
}

.text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
}

.text.hidden {
  border-bottom: 1px solid #fff;
}

.text li {
  display: inline-block;
  
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}

.text.hidden li.spaced {
  padding-left: 0;
}

.text li.spaced {
  padding-left: 0.3em;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}

.features-icons {
  margin-top: 40em;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #fff;
  font-size: 3em;
}

.fas {
  padding-right: 0.3em;
}

header.masthead {
  position: relative;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons-item {
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 1em;
  background-color: gray;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
}

.call-to-action {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#services {
  display: flex;

  margin-left: 3em;
  margin-right: 3em;
}

.col-md-4 {
  border-radius: 1em;
  display: inline;
  justify-content: center;
}

.card-title {
  font-family: ocr-a-std, monospace;
  font-style: normal;
}

.triangle {
  color: red;
  justify-content: center;
  align-items: center;
}

#a3f4169a-5e5e-4255-abcc-1b8759c50498 {
  margin-top: 5em;
  margin-bottom: 1em;
  height: 33em;
  width: auto;
  margin-left: 3em;
  margin-right: 2em;
  float: left;
}

.title_2 {
  text-shadow: 4px 6px 10px white;
}

.title_2 {
  color: #5e60ce;
  text-shadow: 4px 6px 10px white;
  outline-style: inherit;
  font-size: 4em;
  font-weight: 700;
  position: absolute;
  margin-left: 13em;
  margin-right: 1em;
  margin-top: 0.5em;
  font-family: ocr-a-std, monospace;
  font-style: normal;
}

.title_2_background {
  position: absolute;
  height: 28em;
  margin-left: -2em;
  right: 2em;
  margin-top: 1em;
}

.subtitle_2 {
  text-shadow: 4px 6px 10px #989898;
  color: #ffe131;
}

body {
  margin: 0;
  font-family: ocr-a-std, monospace;
  font-style: normal;
}

#tsparticles {
  position: absolute;
  height: 100%;
  width: 100%;
}

.text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
}

.img {
  display: inline-block;
  height: 100px;
  z-index: 100;
}

.github {
  bottom: 10px;
  right: 10px;
  position: fixed;
  border-radius: 10px;
  background: #fff;
  padding: 0 12px 6px 12px;
  border: 1px solid #000;
}

.github a:hover,
.github a:link,
.github a:visited,
.github a:active {
  color: #000;
  text-decoration: none;
}

.github img {
  height: 30px;
}

.github #gh-project {
  font-size: 20px;
  padding-left: 5px;
  font-weight: bold;
  vertical-align: bottom;
}

.firewall__1 {
  font-family: ocr-a-std, monospace;
  font-style: normal;
}

#homePage1 {
  position: absolute;
  margin-top: -20em;
}

#our_services {
  position: absolute;
  margin-top: 80em;
  margin-left: 13.3em;
  margin-right: auto;
}

.code_changes {
  position: absolute;
  margin-top: 165em;
  margin-left: 13em;
  margin-bottom: 5em;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 10vh;
  margin-top: 200em;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

#demo-default {
  margin-top: 200em;
}

.navbar {
  top: 0% !important;
}

ul#menu {
  padding: 0;
  margin: 0;
  -moz-perspective: 780px;
  -webkit-perspective: 780px;
  perspective: 780px;
  background-color: transparent;
}

ul#menu li a {
  display: block;
  width: 100%;
  height: 100%;
}

ul#menu li {
  text-indent: -9999px;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 159px;
  margin-right: -70px;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 50;
  -moz-transform: rotateY(45deg);
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
  -moz-transition: all 0.45s;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  opacity: 0.8;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 0 30px rgba(0, 0, 0, 0.2);
}

ul#menu li:last-child,
ul#menu li:first-child {
  z-index: 45;
}

ul#menu li:nth-child(2),
ul#menu li:nth-child(5) {
  z-index: 46;
}

ul#menu li:nth-child(3) {
  z-index: 51;
}

ul#menu li.highlighted {
  -moz-transform: rotateY(0deg) scale(1.2);
  -webkit-transform: rotateY(0deg) scale(1.2);
  transform: rotateY(0deg) scale(1.2);
  z-index: 55 !important;
}

ul#menu .highlighted ~ li {
  -moz-transform: rotateY(-45deg);
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}

ul#menu li:hover,
ul#menu li:first-child:hover,
ul#menu li.highlighted ~ li:hover {
  z-index: 60 !important;
}

ul#menu li:hover {
  -moz-transform: rotateY(0deg) scale(1.2);
  -webkit-transform: rotateY(0deg) scale(1.2);
  transform: rotateY(0deg) scale(1.2);
  opacity: 1;
}

ul#menu li:hover ~ li {
  -moz-transform: rotateY(-45deg);
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}

ul#menu:hover li:not(:hover) {
  -moz-transform: rotateY(45deg);
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
}

ul#menu:hover li:hover ~ li {
  -moz-transform: rotateY(-45deg);
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}

ul#menu:not(:hover) li.highlighted {
  opacity: 1;
}

ul#menu li:nth-child(1) {
  background-image: url(clients.jpg);
}
ul#menu li:nth-child(2) {
  background-image: url(clients.jpg);
}

ul#menu li:nth-child(3) {
  background-image: url(clients.jpg);
}

ul#menu li:nth-child(4) {
  background-image: url(completed-clients.jpg);
}

ul#menu li:nth-child(5) {
  background-image: url(clients.jpg);
}

ul#menu li:nth-child(6) {
  background-image: url(clients.jpg);
}

ul#menu li:nth-child(7) {
  background-image: url(clients.jpg);
}

ul#menu li:after {
  content: "";
  width: 200px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  /*background-image: url(tables.jpg);
	-moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);*/
  position: absolute;
  bottom: -20px;
  left: 0;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left 10%,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
}

body {
  text-align: center;
  margin: 0 auto;
  font-family: ocr-a-std, monospace;
  font-style: normal;
}

.bg {
  background: transparent url(bg.jpg) center 0 no-repeat;
  min-height: 450px;
  padding-top: 100px;
}

#client {
  margin-top: 80em;

  align-items: center;
  display: flex;
  justify-content: center;

  margin-right: 2em;
}

h1 {
  text-align: center;
  font-weight: 300;
  color: #777;
}

h1 span {
  font-weight: 600;
}

#container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

#container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #4fc1e9;
  margin-top: 10px;
  z-index: 9999;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: white;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.timeline-content span {
  font-size: 15px;
  color: white;
}

.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: white;
}

@media screen and (max-width: 768px) {
  #container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: "mobile";
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient(
    left,
    #f8f8f8,
    rgba(248, 248, 248, 0)
  );
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient(
    right,
    #f8f8f8,
    rgba(248, 248, 248, 0)
  );
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #7b9d6f;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: "";
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #7b9d6f;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: "desktop";
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: "- ";
}
.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #959595;
}
.cd-horizontal-timeline .events-content em,
.cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 7rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");

.blue-bg {
  background-color: white;
  color: #4b9cd3;
  height: 100%;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #4b9cd3;
  color: #4d4545;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}

.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #4b9cd3;
  z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}

.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}

.timeline hr {
  border-top: 3px solid #4b9cd3;
  margin: 0;
  top: 17px;
  position: relative;
}

.timeline .col-2 {
  display: flex;
  overflow: hidden;
}

.timeline .corner {
  border: 3px solid #4b9cd3;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.timeline .top-right {
  left: 50%;
  top: -50%;
}

.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}

.timeline .top-left {
  left: -50%;
  top: -50%;
}

.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #4b9cd3;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #4b9cd3;
}
.footer-widget ul li {
  display: inline-block;
 
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #4b9cd3;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #4b9cd3;
  padding: 13px 20px;
  border: 1px solid #4b9cd3;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #4b9cd3;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #4b9cd3;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/*Button*/
#bttn{
  height: 15vh;
}
#bttn a{
  background-color: orange;
  border-radius: 0.4em;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 35px;
  margin-top: -20px;
  margin-left: 680px;
}
#bttn a:hover{
  background-color: #000;
}


/*Blogs*/
#business{
  width: 1560px;
  margin-left: -49px;
 }
#business h2{
  font-family:ocr-a-std, monospace;
  margin-left: 700px;
  margin-top: 20px;
  font-size: 90px;
  color: white;
 
}

/*Div1*/
#offerings .slink{
  text-decoration: none;
}
#offerings .flink{
  text-decoration: none;
}
#offerings .tlink{
  text-decoration: none;
}
#offerings{
  display: flex;
  margin-top: -182px;
  margin-right:-8px;
  margin-left: -10px;
  height:140vh;
}

#offerings .div1 img{
  margin-left: 40px;
  margin-top: 40px;
  width: 260px;
}
#offerings .div1 img:hover {
  position:relative;
  top:5px;
  left:0px;
  width:300px;
  height:auto;
  display:block;
  z-index:999;

}
#offerings .div1{
  margin-left: 80px;
  margin-top: 220px;
  background-color: whitesmoke;
  width: 420px;
  height: 670px;
}
#offerings .div1 .yellow{
  margin-top: 20px;
  margin-left: 28px;
  font-size: 25px;
  font-family: ocr-a-std, monospace;
  color:black;
}
#offerings .div1 p{
  color:grey;
  margin-right: 20px;
  margin-top: 0px;
  font-size: 16px ;
  margin-left:28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#offerings .div1 .card-footer{
  margin-top: 37px;
}
#offerings .div1 .card-footer a{
  margin-left: 160px;
}

/*Div2*/
#offerings .div2 img{
  margin-top: 40px;
  margin-left: 40px;
  width: 260px;
}
#offerings .div2 img:hover {
  position:relative;
  top:5px;
  left:0px;
  width:330px;
  height:auto;
  display:block;
  z-index:999;
}
#offerings .div2{
  margin-left: 60px;
  margin-top: 220px;
  background-color: whitesmoke;
  width: 420px;
  height: 670px;
}
#offerings .div2 .green{
  margin-top: 25px;
  font-size: 25px;
  margin-left: 25px;
  font-family: ocr-a-std, monospace;
  color:black;
}
#offerings .div2 p{
  margin-top: 15px;
  color:grey;
  margin-right: 20px;
  font-size: 16px ;
  margin-left:22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#offerings .div2 .card-footer{
  margin-top: 87px;
}
#offerings .div2 .card-footer a{
  margin-left: 160px;
}

/*Div3*/
#offerings .div3 img{
  margin-left: 20px;
  margin-top: 40px;
  width: 300px;
}
#offerings .div3 img:hover {
  position:relative;
  top:5px;
  left:0px;
  width:330px;
  height:auto;
  display:block;
  z-index:999;
}
#offerings .div3{
  margin-left: 80px;
  margin-top: 220px;
  background-color: whitesmoke;
  width: 420px;
  height: 670px;
}
#offerings .div3 .orange{
  margin-top: 20px;
  margin-left: 28px;
  font-size: 25px;
  font-family: ocr-a-std, monospace;
  color:black;
}
#offerings .div3 p{
  color:grey;
  margin-right: 20px;
  margin-top: 0px;
  font-size: 16px ;
  margin-left:28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#offerings .div3 .card-footer{
  margin-top: 87px;
}
#offerings .div3 .card-footer a{
  margin-left: 160px;
}

